.start-reading-button {
    font-family: 'helvetica-neue-light';
    font-size: 18px;
    font-weight: 400;
    background-color: black; 
    border-radius: 40px;
    border: none; 
    color: white; 
    cursor: pointer; 
    width: 210px;
    height: 40px;
    text-align: center; 
    transition: .5s; 
}

.start-reading-button:hover {
    background-color: rgba(230, 230, 230, 1);
    color: black; 
}