*, *:before, *:after {
    box-sizing: inherit; 
}

.sp {
    background-color: rgba(50, 57, 68, 1); 
    display: block; 
}

.sp-main {
    display: block; 
    max-width: 1336px; 
    margin: auto; 
}

/* MAIN BODY RIGHT SIDE  */
.sp-main-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
}

.main-class {
    display: block; 
    max-width: 728px; 
    min-width: 728px;
    flex: 1 1 auto;  
}

.sp-right-container {
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
}

.author-header-container {
    display: block; 
    padding-top: 5%; 
    padding-bottom: 5%; 
    /* border-bottom: 1px solid */
    box-shadow: inset 0 -1px 0 rgb(98 104 114);
}

.author-name {
    font-family: 'helvetica-neue-light';
    font-size: 16px; 
    font-weight: bolder; 
    color: rgba(246, 246, 248, 1);
    letter-spacing: 0; 
    line-height: 52px; 
    max-height: 52px; 
}

.story-date {
    font-family: 'helvetica-neue-light'; 
    font-size: 14px; 
    color: rgba(200, 202, 208, 1);
    line-height: 20px; 
}

.story-title-container {
    margin-top: 2em; 
    margin-bottom: 2em; 
}

.story-title {
    font-family: 'helvetica-neue-bold'; 
    font-size: 32px;
    color: rgba(246, 246, 248, 1);
}

.story-body-container {
    margin-bottom: 5em; 
}

.story-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px; 
    letter-spacing: 0.008em; 
    line-height: 32px; 
    word-break: break-word; 
    color: rgba(237, 237, 241, 1);
}

/* MAIN BODY LEFT SIDE  */
.sp-left-container {
    display: block; 
    box-sizing: border-box; 
    min-height: 100vh;
    min-width: 368px; 
    max-width: 368px;  
    padding-right: 24px; 
    background-color: rgba(50, 57, 68, 1);
    border-left: 1px solid rgba(75, 81, 92, 1);
    padding-left: clamp(24px, 24px + 100vw - 1080px, 40px);
}

.author-bio-container {
    position: relative; 
    height: 100%; 
    display: inline-block;
    width: 100% 
}

.author-bio-inside-container {
    top: 57px; 
    position: sticky; 
    display: block; 
}

.author-bio-content {
    display: flex; 
    flex-direction: column; 
    min-height: calc(100vh - 57px); 
}

.abc-1 {
    display: block; 
    flex: 1 0 auto; 
}

.abc-2 {
    display: block; 
    padding-bottom: 0px; 
    border-bottom: none; 
    margin-top: 40px; 
}

.profile-name {
    font-family: 'helvetica-neue-light'; 
    font-size: 16px; 
    font-weight: bolder; 
    letter-spacing: 0; 
    color: rgba(237, 237, 241, 1);
    line-height: 20px; 
}






