.body-below-header {
    position: relative; 
    /* top: 55px;  */
    border-bottom-style: solid;
    border-width: thin;  
    background-color: rgb(255, 192, 23); 
}

.bbh-heading {
    font-family: 'GT-super-light'; 
    font-size: 106px; 
    font-weight: 888; 
    padding-top: 5%;
    padding-left: 15%; 
    margin: 0; 
}

.bbh-description {
    font-family: 'helvetica-neue-light'; 
    font-weight: 400; 
    font-size: 24px; 
    padding-left: 15%; 
    inline-size: 450px; 
}

.start-reading { 
    padding-top: 1%; 
    padding-left: 15%; 
    padding-bottom: 4.5%;  
}