.rii-whole-cont {
    margin-right: 24px;
    margin-left: 24px; 
    padding-top: 25px;
    padding-bottom: 25px; 
    border-bottom: 1px solid rgb(230, 230, 230);
}

.rii-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-bottom: 10px; 
}

.rii-container-within {
    display: flex; 
    flex-direction: row; 

}


.rii-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
}

.rii-time-wrote {
    color: rgba(117, 117, 117, 1);
}

.rii-body-response {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; 
    font-size: 14px; 
    color: rgba(41, 41, 41, 1);
    line-height: 24px; 
    white-space: pre-wrap;
    word-break: break-word;
}

.red-option {
    display: flex; 
    flex-direction: row; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    font-weight: lighter; 
    height: 18px; 
}

.red-option-e {
    margin-right: 5px; 
    cursor: pointer; 
    color: rgba(41, 41, 41, 1);
    transition: .5s; 
}

.red-option-e:hover {
    color: rgb(25, 133, 143);
}

.red-option-d {
    cursor: pointer;
    color: rgb(190, 44, 44); 
    transition: .5s;
}

.red-option-d:hover {
    color: rgb(234, 20, 20);
}