body {
    margin: 0; 
}

@font-face {
    font-family: 'noe-display-medium';
    src: url('./assets/fonts/noe_display_medium.otf');
}

@font-face {
    font-family: 'helvetica-neue-light';
    src: url('./assets/fonts/HelveticaNeue-Light.otf');
}

@font-face {
    font-family: 'GT-super';
    src: url('./assets/fonts/GT-Super-Text-Regular-Trial.otf');
}

@font-face {
    font-family: 'GT-super-light';
    src: url('./assets/fonts/GT-Super-Display-Light-Trial.otf');
}

@font-face {
    font-family: 'GT-super-reg';
    src: url('./assets/fonts/GT-Super-Display-Regular-Trial.otf');
}