#modal {
    opacity: 0; 
    animation: fadeIn .5s;
    animation-delay: 0s;
    animation-fill-mode: forwards; 
}

#modal-background {
    background-color: white;
    opacity: 0.8; 
}

#modal-content {
    border: 2px solid rgba(255, 255, 255, .5); 
    border-radius: 4px; 
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
}
.login-link-button {
    font-family: 'helvetica-neue-light';
    background-color: transparent; 
    border-radius: 16px;
    border: none; 
    color: black; 
    cursor: pointer; 
    width: 60px;
    height: 20px;
    margin-right: 10px;
    text-align: center; 
    transition: .5s; 
}

.login-link-button:hover {
    color: rgba(230, 230, 230, 1);
}

.wrapper {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: white; 
    border-radius: 4px; 
}

.form-container { 
    margin: 0; 
    height: 550px; 
    width: 600px;   

}

.login-form-message {
    margin-top: 70px; 
    font-family: 'GT-super-reg';
    text-align: center; 
    line-height: 50px; 
    font-size: 28px; 
    font-weight: 1; 
}

.login-form-box {
    font-family: 'helvetica-neue-light';
    text-align: center; 
    margin-top: 75px;
}

.create-one-msg {
    font-weight: lighter; 
    font-family: 'helvetica-neue-light';
}

.create-one { 
    font-family: 'helvetica-neue-regular';
    font-weight: bold; 
    color: green; 
    cursor: pointer; 
}


.input-heading {
    font-size: 12px; 
    line-height: 20px; 
    margin-top: 60px;
    margin-bottom: 10px;
}

.input-box {
    border: none;  
    margin-bottom: 20px;
}

.input-content {
    font-size: 15px;
    border: none; 
    border-bottom: 1px solid rgb(168, 168, 168); 
    text-align: center; 
    height: 20px;
    width: 230px; 
    cursor: text; 
}

.input-content:focus{
    outline: none; 
}

.input-content:hover {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.button {
    font-family: 'helvetica-neue-light';
    font-size: 14px;
    font-weight: bold; 
    background-color: black; 
    border-radius: 40px;
    border: none; 
    color: white; 
    cursor: pointer; 
    width: 220px;
    height: 35px;
    text-align: center; 
    transition: .5s; 
    margin: 5px; 
}

.button:hover {
    background-color: rgb(168, 168, 168); 
    color: black; 
}

.error-messages {
    padding-top: 1%;
    padding-bottom: 3%;
    color: red; 
}







