.signup-link-button {
    font-family: 'helvetica-neue-light';
    background-color: black; 
    border-radius: 40px;
    border: none; 
    color: white; 
    cursor: pointer; 
    width: 100px;
    height: 40px;
    text-align: center; 
    transition: .5s; 
}

.signup-link-button:hover {
    background-color: white;
    color: black; 
}

